@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {margin: 0; padding: 0; font-family: 'Lato', sans-serif;}

header h1 { font-weight: 700; font-size: 30px;}
nav ul { list-style: none; }
nav ul li a {
    text-decoration: none;
    font-size: 14px;
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
nav ul li a:hover { background-color: #FFF; color: #000 !important;} 

nav .contProfile .login {  background-color: #FFF;  text-decoration: none; color: #000;
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;}
nav .contProfile .login:hover { background-color: #000;}
nav .contProfile .login:hover small { color: #FFF !important;}

nav .contCarrito { background-color: #444; box-sizing: border-box; cursor: pointer; padding: 10px 15px !important;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;}
nav .contCarrito:hover { background-color: #000;}
nav .contCarrito small { color: #FFF; font-size: 13px;}



main { padding: 50px;}


.grillaProductos { padding: 0 !important;}
.grillaProductos .listado { display: flex; width: 100%; margin-top: 30px; flex-wrap: wrap;}
.grillaProductos .card { width: 300px; margin: 10px; text-align: center; text-decoration: none !important; color: #333 !important; box-sizing: border-box;
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;}
.grillaProductos .card .price { font-size: 25px; line-height: 32px; font-weight: 700; color: rgb(10, 37, 156);}
.grillaProductos .card:hover { border: 1px solid #999;}
.grillaProductos .card .descripcion { min-height: 60px; opacity: 0.6;
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;}
.grillaProductos .card:hover .descripcion { opacity: 1;}

.contSumaResta { width: 100%; margin: auto; height: auto; display: flex; align-items: center; justify-content: space-between; border: 1px solid #CCC; box-sizing: border-box; padding: 3px;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
.contSumaResta button { background-color: transparent; border: none; margin: 0; padding: 4px; width: 45px !important; font-size: 24px; color: rgb(21, 46, 185); cursor: pointer;
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;}
.contSumaResta button:hover { background-color: #EEE;}
.contSumaResta input { margin: 0; padding: 0px; width: 120px; text-align: center; color: #444; font-size: 16px; line-height: 28px; background: transparent; border: none;}

.contadorProductos .btnAgregar { width: 100%; margin: auto; display: block; text-transform: uppercase; padding: 12px 0px;}

#cargando img { height: 40px; margin: 20px;}
#cargando2 img { height: 40px; margin: 20px;}
.loadingEnd { display: none;}






.contDetalle { width: 100%; height: auto; max-width: 1400px;  margin: auto; display: flex; align-items: flex-start; box-sizing: border-box; padding: 40px;}
.contDetalle .contFoto { width: 50%;}
.contDetalle .contData { width: 50%; box-sizing: border-box; padding-left: 30px;}
.contDetalle .contData .titulo { font-size: 30px; line-height: 40px; margin-bottom: 10px;}
.contDetalle .contData .descripcion { margin-bottom: 20px;}
.contDetalle .contData .price { font-weight: bold; font-size: 26px; line-height: 34px; color: rgb(10, 37, 156);}




















